<?xml version="1.0" encoding="UTF-8"?>

<!-- https://docs.phpunit.de/en/11.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
  <source>
    <include>
      <directory>src/</directory>
    </include>
    <exclude>
      <directory>src/Resources</directory>
    </exclude>
  </source>

  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="11.5"/>
  </php>

  <extensions>
    <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension"/>
  </extensions>

  <testsuites>
    <testsuite name="Bundle Test Suite">
      <directory>tests/</directory>
      <exclude>tests/Fixtures</exclude>
      <exclude>tests/tmp</exclude>
    </testsuite>
  </testsuites>
</phpunit>
